body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body *{
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #663de4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login >h1{
    color:#f2b63d ;
}
.left-imagem{
    width: 35vw;
}
.left-login>h1{
    font-size: 2vw;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 20vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:white ;
    border-radius: 30px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login>h1{
   color:#f2b63d;
    margin: 0;
}
.text-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0px;
    width: 100%;

}
.text-field>input{
    border: none;
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    /* box-sizing:border-box ; faz como que o input caiba de maneira proporcional na div*/
    box-sizing:border-box ;
}
.text-field>label{
    margin-bottom: 10px;
}
.btn-login{
    background:#f2b63d;
    color: white ;
    width: 100%;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
    cursor: pointer;
}
@media only screen and (max-width:950px){
    .card-login{
        width: 30vh;
    }
}
@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }
    .left-login>h1{
        display: none;
    }
    .left-login{
        width: 100vh;
        height: auto;
    }
    .right-login{
        width: 100vh;
        height: auto;
    }
    .card-login{
        margin: auto;
        width: 90vw;
    }
    .left-imagem{
        width: 50vw;
    }
}
